@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
header {
	background-color: #000000;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -22px;	
	padding: 5px;
  text-align: center;
}
h1 {
	color: #FF0000;
	text-transform: uppercase;
font-family: 'Londrina Outline', cursive;
    font-size: 90px;
	margin-top: 20px;
	margin-bottom: 1px;
	padding-top: -15px;
}
p {
font-family: 'Roboto', sans-serif;	
	color: #FFFFFF;
	margin: 5px;
	padding-top: -15px;
    font-size: 20px;
}
ul {
text-align: center;
}
li {
  display: inline;
}
a {
  color: white;
  text-align: center;
  margin: 14px;
  padding: 8px;
  border-style: solid;
  border-color: #FF0000;
  background-color: #000000;
}
a:hover {
	background-color: red;
	border-color: white;
}
body {
	background: url('img/stranger_img.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}