* {
	font-family: arial;
	box-sizing: border-box;
}
li{
	list-style-type: none;
	padding: 10px;
}
li div * {
	display: inline-block;
	width: 300px;
	margin-top:5px;
}
li:hover {
	background-color: #FF9;
}
span.requerido {
	color: #FF0000
}
input:hover, select:hover {
	border-color: #E6B700;
}
input#nombre {
	width: 125px;
}
.izquierda {
	float: left;
	width: 350px;
	max-height: 400px;
}
.derecha {
	float: right;
	width: 350px;
	max-height: 400px;
}
#contenedor {
	width: 900px;	
}
label#minititulo {
	color: gray;
	font-size: 14px;
}
label.titulo {
  font-weight: bold;
}
ul li p.ayuda {
	visibility: hidden;
}
ul li:hover p.ayuda {
  visibility: visible;
}
.alta {
	clear: both;
	float: right;
}
	